#obr{
	width: 420px;
	float: right;
}

#obr .gsa-widget{
	width: 100%;
}

#Advanced{
	display: inline;
}

.cor-blurred td{
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	opacity: 1;
	color: rgba(0,0,0,0);
}

.cor-blurred a{
	text-shadow: 0px 0px 10px rgba(83, 122, 193, 0.9) !important;
	opacity: 1;
	color: rgba(0,0,0,0);
}